* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#heading {
  font-size: x-large;
  font-weight: bold;
}

#root {
  margin: 0 auto;
  padding: 1rem;
  background-color: #f4f4f4;
}

.text {
  width: 100%;
}

.small {
  font-size: small;
}
