* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heading {
  font-size: x-large;
  font-weight: bold;
}

#root {
  margin: 0 auto;
  width: 600px;
}

.text {
  width: 100%;
}

.small {
  font-size: small;
}
