:root {
  --base-spacing-unit: 1rem;
  --half-spacing-unit: calc(var(--base-spacing-unit) / 2);
  --double-spacing-unit: calc(var(--base-spacing-unit) * 2);

  --color-bg-light: #f4f4f4;
  --color-bg-light-highlight: #eeeeee;
  --color-fg-light: #333333;
  --color-border-light: #aac9c7;
  --color-bg-dark: #0d1117;
  --color-bg-dark-highlight: #161b22;
  --color-fg-dark: #c9d1d9;
  --color-border-dark: #30363d;
  --color-primary: #339933;
  --color-secondary: #d9f2a6;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, sans-serif;
  color: var(--color-fg-light);
  background-color: var(--color-bg-light);
  transition: 0.2s;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1rem;
}

#root {
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  max-width: 30rem;
}

#section-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#data-container,
#theme-switch-container,
#lista-container {
  margin-top: 1rem;
}

#theme-switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#checkbox {
  display: none;
}

#icon-dark-mode {
  display: none;
}

#card {
  margin-top: 2rem;
}

.theme-icon {
  padding: 0.5rem;
  border: 1px solid var(--color-border-light);
  border-radius: 0.5rem;
  cursor: pointer;
}

.table {
  width: 100%;
  border: 1px solid var(--color-border-light);
  border-radius: 0.5rem;
  border-spacing: 0;
  overflow: hidden;
}

.table-header-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-border-light);
}

.table-header-data {
  font-size: 1rem;
  font-weight: 800;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.table-row:nth-of-type(odd) {
  background-color: var(--color-bg-light-highlight);
}

.table-data {
  flex: 1 1 20%;
}

.table-data.tag-1,
.table-data.tag-2,
.table-data.tag-3 {
  height: 1.5rem;
  max-width: 2.5rem;
  text-align: right;
}

.table-data.tag-1 span {
  color: var(--color-primary);
}

.table-data.rank-1,
.table-data.rank-2,
.table-data.rank-3 {
  max-width: 1.5rem;
  display: flex;
  align-items: center;
}

.table-data.produto {
  display: flex;
  align-items: center;
}

.table-data.valor {
  display: flex;
  max-width: 3rem;
  align-items: center;
  justify-content: right;

  font-family: Lato, sans-serif;
  font-weight: 400;
}

/* DARK THEME */
.dark {
  color: var(--color-fg-dark);
  background-color: var(--color-bg-dark);
}

.dark .theme-icon {
  border: 1px solid var(--color-border-dark);
}

.dark #icon-light-mode {
  display: none;
}

.dark #icon-dark-mode {
  display: block;
}

.dark .table {
  border: 1px solid var(--color-border-dark);
}

.dark .table-header-row {
  border-bottom: 1px solid var(--color-border-dark);
}

.dark .table-row:nth-of-type(odd) {
  background-color: var(--color-bg-dark-highlight);
}
